* {
    margin: 0;
    padding: 0;
}

.usuario__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f3f5fc;
}

.texto__usuario {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.texto__usuario::placeholder {
    color: #0a3871;
}

.texto__usuario:focus,
.texto__usuario:active {
    border: none;
    outline: none;
}

.terminos {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 80%;
    left: 12%;
    top: 80%;

}

.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.boton__encriptar {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    background-color: #0a3871;
    color: #ffff;
}

.boton__desencriptar {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    border-radius: 24px;
    font-family: "Inter";
    line-height: 19px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #0a3871;
    border: 1px solid #0a3871;
    background: #d8dfe8;
}

.boton__encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
    background: #052051;
}

.boton__desencriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
    background: #f3f5fc;
}

.cuadro__texto__salida {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #f3f5fc;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.texto__salida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;

}

.texto__salida h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.texto__salida p{
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.cuadro__texto__salida img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.copiar {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    border-radius: 24px;
    font-family: "Inter";
    line-height: 19px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #0a3871;
    border: 1px solid #0a3871;
    background: #d8dfe8;
    display: none;
}

.copiar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
    background: #f3f5fc;
}

/* Diseño responsivo */

@media (max-width: 57.5em) {
    .usuario__container {
        display: flex;
        flex-direction: row;
    }

    .cuadro__texto__entrada {
        width: 100%;

    }

    .texto__usuario{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 16px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .boton__encriptar,
    .boton__desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .boton__encriptar:hover,
    .boton__desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .cuadro__texto__salida {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .texto__salida {
        width: 100%;
        top: 5%;  
    }

    .cuadro__texto__salida img {
        top: 0;
        display: none;
        visibility: hidden;
    }

    .copiar {
        margin: 0%;
        display: none;
    }
    
}

@media (max-width: 550px) {
    .usuario__container {
        display: flex;
        flex-direction: row;
    }

    .cuadro__texto__entrada {
        width: 100%;
    }

    .texto__usuario{
        width: 80%;
        height: 50%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 57%;
    }

    .terminos p {
        font-size: 16px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 60%;
    }

    .boton__encriptar,
    .boton__desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .boton__encriptar:hover,
    .boton__desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .cuadro__texto__salida {
        width: 80%;
        height: 28%;
        left: 10%;
        top: 70%;
    }

    .texto__salida {
        width: 100%;
        top: 3%;  
    }

    .cuadro__texto__salida img {
        top: 0;
        display: none;
        visibility: hidden;
    }

    .copiar {
        margin: 0%;
        display: none;
    }
    
}